<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
</head>
<body ng-app="myapp">
<div class="container-fluid"> 
    <div ng-controller="basecontroller">
        <input type="text" name="" id="" ng-model="b1">
        <p>{{b1}}</p>
        <p ng-bind="b1"></p>

        <input type="button" class="btn btn-primary" value="clik for model" data-toggle="modal" data-target="#m1">

        <table class="table table-dark">
        <th>Name</th>
        <th>Age</th>
        <tbody>
            <tr ng-repeat="x in records">
                <td>{{x.Name}}</td>
                <td>{{x.Country}}</td>
                <td><input type="button" class="btn btn-warning" ng-click="myfun(x)" data-target="#m1"  data-toggle="modal"></td>
            </tr>
        </tbody>
    </table>
        
<form name="fe">
    <input type="text" name="" id="one" ng-model="one" required >
    <input type="text" name="aa" id="two" ng-model="two" required>
    <input type="button" name="" id="" value="add to" ng-click="pushto()" class="btn btn-primary" ng-disabled="fe.$invalid" >
    <input type="reset" name="" id="">
</form>




<div ng-controller="othercontroller">
            <div class="modal" tabindex="-1" role="dialog" id="m1">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Modal body text goes here.</p>
                              <input type="text" ng-model="otname">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary">Save changes</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>


            
        </div>


    </div>

    <input type="button" value="button" class="btn btn-danger">
</div>
</body>
<script src="/js/app.js"></script>
<script src="/js/sec.js"></script>
</html>